body, html {
    width: 100%;
}

#navegacao-cardapio {
    width: 100%;
    max-width: 98%;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#navegacao-cardapio .navegacao-cardapio-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 200px);
    gap: 15px;
    margin: 20px 0;
}

#mosaico-cafes {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

#mosaico-salgados {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#mosaico-doces {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

#mosaico-cafe-da-manha {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.navegacao-cardapio-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.navegacao-cardapio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease;
}

.navegacao-cardapio-item::after,
.navegacao-cardapio-item h3,
.navegacao-cardapio-item p {
    position: absolute;
    left: 20px;
    right: 20px;
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease;
    z-index: 2;
}

.navegacao-cardapio-item::after {
    content: '';
    left: 0px;
    bottom: 0;
    height: 70%;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
    transform: translateY(20px);
    z-index: 1;
}

.navegacao-cardapio-item h3 {
    bottom: 60px;
    color: #ffffff;
    font-size: 2rem;
    line-height: 30px;
    transform: translateY(20px);
}

.navegacao-cardapio-item p {
    bottom: 20px;
    color: #ffffff;
    font-size: 0.9rem;
    transform: translateY(20px);
}

.navegacao-cardapio-item:hover img {
    transform: scale(1.05);
}

.navegacao-cardapio-item:hover::after,
.navegacao-cardapio-item:hover h3,
.navegacao-cardapio-item:hover p {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 1000px) {
    #navegacao-cardapio .navegacao-cardapio-grid {
        grid-template-rows: repeat(2, 300px);
        height: auto;
    }

    #mosaico-cafes,
    #mosaico-salgados,
    #mosaico-doces,
    #mosaico-cafe-da-manha {
        grid-column: auto;
        grid-row: auto;
        height: auto;
    }
    .navegacao-cardapio-item h3 {
        font-size: 1.8rem;
        bottom: 30%;
        transform: translateY(50%) translateY(20px);
    }

    .navegacao-cardapio-item:hover h3 {
        width: calc(100% - 40px);
        transform: translateY(50%) translateY(0);
    }
    .navegacao-cardapio-item p {
        display: none;
    }
}

@media (max-width: 1480px) {
    .navegacao-cardapio-item:hover h3 {
        transform: translateY(0);
    }

    .navegacao-cardapio-item p {
        display: none;
    }
}