/*----- Imports -----*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@400;700&display=swap');

/*----- Root -----*/
:root {
    /*----- Tipografia -----*/
    --fonte-titulos: 'Lora', serif;
    --fonte-corpo: 'Montserrat', sans-serif;

    /*----- Paleta de cores -----*/
    --cor-fundo: #EAE4D9;
    --cor-principal: #5C3D2E;
    --cor-destaque: #E07A5F;
    --cor-texto: #3D405B;   
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    display: flex;
    align-items: center;
}

.logo-morada-cafe {
    width: calc(600px - 15%);
    height: calc(200px - 15%);
}