/*----- Imports -----*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@700&family=Montserrat:wght@400;700&display=swap');

/*----- Root -----*/
:root {
    --fonte-titulo: 'Lora', serif;
    --fonte-corpo: 'Montserrat', sans-serif;

    --cor-fundo: #FAF8F2;
    --cor-principal: #5C3D2E;
    --cor-destaque: #6A7A8A;
    --cor-texto: #4B443C;
    --cor-branca: #FFFFFF;
}

/*----- Configurações gerais -----*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    background-color: var(--cor-fundo);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--fonte-titulo);
}

p, a {
    font-family: var(--fonte-corpo);
    text-decoration: none;
}

/*----- Header -----*/
header {
    position: relative;
    height: 95px;
    padding: 0px 40px;
    background-color: var(--cor-fundo);
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
}

.logo-morada-cafe {
    width: 250px;
    height: auto;
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    font-size: 16px;
    font-weight: 100;
    color: var(--cor-principal);
    transition: 0.3s;
}

nav a:hover {
    transform: scale(1.05);
    text-decoration: underline;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
}

.hamburger-menu .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--cor-principal);
    transition: all 0.3s ease-in-out;
}

/*----- Footer -----*/ 
footer {
    background-color: var(--cor-principal);
    color: var(--cor-fundo);
    padding: 60px 0 20px 0;
    margin-top: 100px;
}

.footer-container {
    padding: 0 50px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.footer-col {
    flex: 1;
    min-width: 200px;
}

.footer-logo {
    font-family: var(--fonte-titulo);
    font-size: 30px;
    margin-bottom: 15px;
}

.footer-col h4 {
    font-size: 19px;
    margin-bottom: 20px;
    color: var(--cor-branca);
}

.footer-col p {
    font-size: 14.5px;
    line-height: 1.7;
    color: #ffffffd5;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}


.footer-col a {
    color: #ffffffd5;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: var(--cor-branca);
    text-decoration: underline;
}

.footer-socials a {
    font-size: 24px;
    margin-right: 15px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ffffff30;
    font-size: 20px;
    color: #ffffffd5;
}

.footer-bottom a {
    color: #ffffffd5;
}

.footer-bottom a:hover {
    text-decoration: underline;
}

/*----- Responsividade -----*/
@media (max-width: 1100px) {

    /*----- Header Mobile -----*/
    header {
        width: 100vw;
        padding: 10px 20px;
        gap: 0;
        justify-content: space-between;
    }

    .logo-morada-cafe {
        width: 230px;
    }   

    header nav {
        display: none; 
        flex-direction: column;
        position: absolute;
        top: 95px;
        left: 0;
        right: 0;
        background-color: var(--cor-fundo);
        border-top: 1px solid #eee;
        z-index: 100;
        gap: 0px;
    }

    header nav.active {
        display: flex; 
    }

    header nav a {
        padding: 20px;
        text-align: center;
        border-bottom: 1px solid #5c3d2e50;
    }

    header nav a:hover {
        background-color: #f0ede6;
        transform: none;
    }

    .hamburger-menu {
        display: block;
    }

    .hamburger-menu.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger-menu.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger-menu.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}