<div class="container footer-container">

    <div class="footer-col">
        <h4 class="footer-logo">Morada Café</h4>
        <p>Seu refúgio para uma pausa com sabor e poesia.</p>
    </div>
    <div class="footer-col">
        <h4>Navegue</h4>
        <ul>
            <li><a href="#">Início</a></li>
            <li><a href="#">Cardápio</a></li>
            <li><a href="#">Sobre Nós</a></li>
            <li><a href="#">Contato</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Contato</h4>
        <p>Rua GitHub, 00110</p>
        <a href="https://github.com/pedropierri" target="_blank">https://github.com/pedropierri</a>
    </div>
</div>

<div class="footer-bottom">
    <p>Site criado por <a href="https://github.com/pedropierri" target="_blank">Pedro Pierri</a></p>
</div>