<header>
    <a href="index.html">
        <img src="media/logo/logo-morada-cafe.png" alt="logo da Morada Café" class="logo-morada-cafe">
    </a>

    <nav>
        <a href="index.html">Nossa Casa</a>
        <a href="cardapio.html">Cardápio</a>
        <a href="sobre.html">Nossa História</a>
        <a href="contato.html">Contato</a>
    </nav>

    <div class="hamburger-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</header>
